*{
  background-color: black;
  font-family: Verdana, Tahoma, sans-serif;
  color: white;
}

a {
  color: aquamarine;
}
.heading {
  font-size: 50px;
  font-weight: n;
  text-align: center;
  margin-top: 20px;
}